.edit .jumbotron {
    padding: 0;
    margin-bottom: 0;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.edit .user-image{
    margin-top: -60px;
}

.editForm{
    margin-top: 30px;
}